@{
    ViewData["Title"] = "Information about our classroom";
}

@section scripts {
    <script type="text/javascript" src="~/js/Index.js"></script>
}

<h2>Our rules</h2>
<img src="img/Our rules.jpg" alt="Our rules" width="400" />
<h2>Here is our classroom</h2>

<ul id="list">
    @for (var i = 0; i < Model.Members.Count; i++)
    {
        var member = Model.Members[i];

    <li class="member">
        @member
    </li>
    }
</ul>

<input id="newcomer" title="Name" type="text" />
<button id="add">Add new commer</button>
